<h1>Portfolio item</h1>

<% @portfolio_items.each do |portfolio_item| %>
  <div>
    <p><%= portfolio_item.title %> </p>
    <p><%= portfolio_item.subtitle %> </p>
    <p> body : <%= portfolio_item.body %> </p>
    <p> <%= image_tag portfolio_item.thumb_image %> </p>
  </div>
<% end %>